<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Update Customers Details</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body class="bg-light">

      <h3 class="mx-5 my-3">Update Customer Details</h3>
      <form class="col-md-8 mx-5 " method="post" th:action="@{'/processupdate/'+${uuid}}" novalidate="" action="/processupdate">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name" name="firstname" th:value="${firstname}">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name" name="lastname" th:value="${lasttname}">
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Street" name="street" th:value="${street}">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Address" name="address" th:value="${address}">
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="City" name="city" th:value="${city}">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="State" name="state" th:value="${state}">
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Email" name="email" th:value="${email}">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Phone" name="phone" th:value="${phone}">
          </div>
        </div>

        <input type="submit" class="btn btn-primary mt-3" value="Update">
      </form>
</body>
</html>
